In [1]:
g={23,34,54,943,'a',450,'ramu'}
print (g)

{'ramu', 34, 450, 'a', 943, 54, 23}

In [3]:
g

{23, 34, 450, 54, 943, 'a', 'ramu'}

In [4]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [6]:
s1={12,21,'f','ramu',43,67,56,92}
s1.add("mamatha")
print(s1)

{'ramu', 67, 43, 12, 'mamatha', 21, 56, 92, 'f'}

s1

In [7]:
s1

{12, 21, 43, 56, 67, 92, 'f', 'mamatha', 'ramu'}

In [8]:
print(s1)
s1.pop()
print(s1)

{'ramu', 67, 43, 12, 'mamatha', 21, 56, 92, 'f'}
{67, 43, 12, 'mamatha', 21, 56, 92, 'f'}

In [13]:
print(s1)
s1.remove('f')
print(s1)

{67, 43, 12, 21, 56, 92, 'f'}
{67, 43, 12, 21, 56, 92}

In [8]:
s2={1,2,3,89,8,32,21}
s3={1,2,3,45,5678}
print(s2)
print(s3)
print(s2.union(s3))
print(s2)
print(s3)

{32, 1, 2, 3, 8, 21, 89}
{1, 2, 3, 45, 5678}
{32, 1, 2, 3, 8, 45, 5678, 21, 89}
{32, 1, 2, 3, 8, 21, 89}
{1, 2, 3, 45, 5678}

In [17]:
print(s2)
print(s3)
print(s3.intersection(s2))
print(s2)
print(s3)

{8, 32, 21, 45}
{1, 2, 3, 45, 5678}
{45}
{8, 32, 21, 45}
{1, 2, 3, 45, 5678}

In [9]:
print(s3.difference(s2))

{45, 5678}

In [ ]:
# dictionary

In [22]:
t={'name': ('aaaa','sssss','dddddd'),'age':20,'sal':[40000,3000,32000]}
print(t,type(t))

{'name': ('aaaa', 'sssss', 'dddddd'), 'age': 20, 'sal': [40000, 3000, 32000]} <class 'dict'>

In [23]:
print(t['sal'][1])

3000

In [24]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [25]:
print(t.keys())

dict_keys(['name', 'age', 'sal'])

In [26]:
print(t.values())

dict_values([('aaaa', 'sssss', 'dddddd'), 20, [40000, 3000, 32000]])

In [28]:
y={'name':"qqqqq","age":[32],"sal":[3400,46000]}
print(y,type(y))

{'name': 'qqqqq', 'age': [32], 'sal': [3400, 46000]} <class 'dict'>

In [29]:
print(t.items())

dict_items([('name', ('aaaa', 'sssss', 'dddddd')), ('age', 20), ('sal', [40000, 3000, 32000])])

In [32]:
print(t.get('name'))
print(t.get('age'))
print(t.get('sal'))

('aaaa', 'sssss', 'dddddd')
20
[40000, 3000, 32000]

In [34]:
print(t)
t['no']=[12,34,43,66]
print(t)

{'name': ('aaaa', 'sssss', 'dddddd'), 'age': 20, 'sal': [40000, 3000, 32000]}
{'name': ('aaaa', 'sssss', 'dddddd'), 'age': 20, 'sal': [40000, 3000, 32000], 'no': [12, 34, 43, 66]}

In [36]:
print(t)
t['no']=['jasmine']
print(t)

{'name': ('aaaa', 'sssss', 'dddddd'), 'age': 20, 'sal': [40000, 3000, 32000], 'no': [12, 34, 43, 66]}
{'name': ('aaaa', 'sssss', 'dddddd'), 'age': 20, 'sal': [40000, 3000, 32000], 'no': ['jasmine']}

In [38]:
print(t)
t.setdefault('tr')
print(t)

{'name': ('aaaa', 'sssss', 'dddddd'), 'age': 20, 'sal': [40000, 3000, 32000], 'no': ['jasmine']}
{'name': ('aaaa', 'sssss', 'dddddd'), 'age': 20, 'sal': [40000, 3000, 32000], 'no': ['jasmine'], 'tr': None}

In [40]:
print(t)
t.update({'tr':45})
print(t)

{'name': ('aaaa', 'sssss', 'dddddd'), 'age': 20, 'sal': [40000, 3000, 32000], 'no': ['jasmine'], 'tr': None}
{'name': ('aaaa', 'sssss', 'dddddd'), 'age': 20, 'sal': [40000, 3000, 32000], 'no': ['jasmine'], 'tr': 45}

In [41]:
print(t)
print(t.popitem())
print(t)

{'name': ('aaaa', 'sssss', 'dddddd'), 'age': 20, 'sal': [40000, 3000, 32000], 'no': ['jasmine'], 'tr': 45}
('tr', 45)
{'name': ('aaaa', 'sssss', 'dddddd'), 'age': 20, 'sal': [40000, 3000, 32000], 'no': ['jasmine']}

In [46]:
q=['name','age','sal']
w=[12,23,34,45,65,78]
print(q)
print(w)
f={'name':'ssss','donar':23}
f.fromkeys(q)
f.fromkeys(w)
print(f)
print(q)
print(w)

['name', 'age', 'sal']
[12, 23, 34, 45, 65, 78]
{'name': 'ssss', 'donar': 23}
['name', 'age', 'sal']
[12, 23, 34, 45, 65, 78]

In [47]:
x = ('key1', 'key2', 'key3')

thisdict = dict.fromkeys(x)

print(thisdict)

{'key1': None, 'key2': None, 'key3': None}

In [3]:
q=['name','age','sal']
w=[12,23,34,45,65,78]
print(q)
print(w)
f={}
f={}.fromkeys(q,9)
 
print(f)

print(q)
print(w)

['name', 'age', 'sal']
[12, 23, 34, 45, 65, 78]
{'name': 9, 'age': 9, 'sal': 9}
['name', 'age', 'sal']
[12, 23, 34, 45, 65, 78]

In [ ]:
contact application:
    1.enter new record
    2.display all records
    3.update record
    4.delete rcord
    5. exit
    
    ramu---- not exist
    mobile no ------xxxxxxxx
    already exists
    
    name      mobile no
    ramu      xxxxxxxxxx
    rajesh    xxxxxxxxxx
    
    
    ramu-------exist
    mobile no   xxxxxxxx
    user doesnt exist
    
    ramu ------exist
    user deletd succesfull
    user doesnt exist
    
   

1
2
3
4
5

    1 enter your name :rajesh
        rajesh already exist
        enter  mobile no:xxxxxxx
      
    2   name       mobile no
        rajesh     xxxxxxxxxxxx
        
        
    3   enter your name:rajesh
        enter uuodted mobile no:xxxxxxxx
          
        rajesh1
        rajeh1 doesnt exist
        
     4
         enter your name:rajesh
         rajesh record delelted succesfull
        ralesh doesnt exist in your contact
        
        
    5  exit